#Extensions#
*.log
*.conf
*.example

#Folders#
/home/xose/Playground/arousabot/archive
archive/arousabot_apikey
archive/arousabot_exception_test.py
archive/arousabot_minimal.py
archive/arousabot.config_server
